#logInBtn {
	-fx-text-fill: black;
}

#logInBtn:hover{
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.jfx-text-field, .jfx-password-field {
    -fx-prompt-text-fill: white;
    -fx-text-inner-color: white;
}
